<p {{  block.shopify_attributes }}>Estimated delivery between 
{{ "now" | date: "%B %d" }} 
and 
{{ "now" | date: "%B %d" | plus: 7 }}</p>


{% schema %}
{
  "name": "estimate date",
  "tag": null,
  "settings": [
   
  ],
  "presets": [
    {
      "name": "estimate date",      
     
    }
  ]
}
{% endschema %}
